html, body{margin:0px; padding:0px; font-family:Arial, sans-serif;}
div{position:relative;}
.clear{clear:both;}
#conteiner, {
	width:1000px;
	margin:0px auto;
}
#conteiner{
	padding:20px 0px 0px 220px;
	box-sizing:border-box;
}
	#left{
		background: #c98123;
		width:300px;
		height:100%;
		z-index:15;
		margin-left:-220px;
		float:left;
	}
	#right{
		width:30%;
		float:left;
		font-size:15px;
		color:#000000;
	}
	#right p{margin:0px; padding:0px 0px 10px 0px;}
/*************далее стили для вертикального выпадающего меню при наведении**************************/
#menuVertical{width:100%;height:auto;}
	#menuVertical ul{
		display:block;
		width:100%;
		height:auto;
		margin:0px;
		padding:0px;
		list-style:none;
		position:relative;
	}
#menuVertical ul li{display:block; width:100%; height:auto; position:relative;}
	#menuVertical ul li a{
		position:relative;
		display:block;
		width:100%;
		height:auto;
		box-sizing:border-box;
		font-size:13px;
		text-transform:uppercase;
		font-weight:bold;
		color:#FBF7F7;
		line-height:1.2em;
		padding:10px 15px;
		background:#3A9CD3;
		border-top:1px solid #236A92;
		text-decoration:none;
	}
	#menuVertical ul  li:first-child a{border:0px;}
	#menuVertical ul li a:hover, #menuVertical ul li:hover a{
		background:#0A3CC1;
	}
	#menuVertical ul li ul{
		position:absolute;
		top:0px;
		left:100%;
		display:none;
		width:auto;
	}
			/*******показываем выпадашку при наведении ********/
#menuVertical ul li:hover ul{display:block;}
	#menuVertical ul li ul li a{
	white-space:nowrap;
	text-transform:none;
	padding:5px 20px;
	}
#menuVertical ul li ul li a:hover{
	background:#75C1D4;
	color:#0A3CC1;
}


/*
	Background Stretcher jQuery Plugin
	© 2011 ajaxBlender.com
	For any questions please visit www.ajaxblender.com 
	or email us at support@ajaxblender.com
*/

HTML {_background: url(/images/trans.gif) no-repeat fixed;}
.bgstretcher-area { text-align: left; }
.bgstretcher, .bgstretcher UL, .bgstretcher UL LI {
	position: absolute;
	top: 0;
	left: 0;
}
.bgstretcher UL, .bgstretcher UL LI {
	margin: 0;
	padding: 0;
	list-style: none;
}
.bgstretcher {
	background: black;
	overflow: hidden;
	width: 100%;
	position: fixed;
	z-index: 1;
	_position: absolute; /*IE6 doesn't support fixed positioning*/
	top: 0;
	left: 0;
}
